%h1 Listing all Institutions 
-@institutions.each do |institution|
	%a{:href => "/institution/#{institution.id}", :style => "display: inline;"}=institution.name
	%p{:style => "display: inline; font-size: 12px; font-style: italic;"}="#{institution.users.count} Followers"
	%br