-if !current_user.nil?
	%h2 Create a New Discussion Topic 
	-if !current_user.nil?
		=form_for Topic.new, :url => "/institution/1/topic" do |f|
			=f.label :Name
			=f.text_field :name
			%br 
			%br
			=f.label :Institution 
			=collection_select(:topic, :institution_id, Institution.all, :id, :name)
			%br
			%br
			=f.submit
	-else
		%p Please Sign in to create a topic
-else 
	%h3 Please sign in to create a topic