-if @topic.nil? 
	Your topic was not found.
-else
	%h2{:style => "display: inline;"}=@topic.name
	-if !current_user.nil?
		-if !@topic.following?(current_user)
			=link_to :Follow, follow_path(:query => "#{@topic.id}"), style: "font-style: italic;"
		-else 
			%p Following
%h4 This Topic has the following users
-@topic.users.each do |user|
	%p{:style => "display: inline;"}=user.fname + " " +user.lname
	%a{:href => "#{user.facebookurl}", :target => "_blank"}
		%img{:src => "http://www.besttechie.com/wp-content/uploads/2012/12/facebook-icon.png", :width => "25px", :style => "display: inline; padding-left: 10px;"}
	%a{:href => "#{user.twitterurl}", :target => "_blank"}
		%img{:src => "https://abs.twimg.com/a/1379971261/images/resources/twitter-bird-blue-on-white.png", :width => "30px", :style => "display: inline; padding-left: 5px;"}
	%a{:href => "#{user.linkedinurl}", :target => "_blank"}
		%img{:src => "http://images.pcworld.com/images/article/2011/05/linkedin-thumb-5172915.png", :width => "30px", :style => "padding-left: -2px;"}
	%br